<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/missing.css">
    <title>The Experimentation Journal | The University Of Nuremberg</title>
</head>

<body>
    <header>
        <h1><span class="allcaps">The Experimentation Journal</span></h1>
    </header>
    <main>
        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 1: 8:00 PM</time></h2>
            </header>
            <section>
                <p>
                    It's been a week since the incident at the circus. My beloved child, once full of life, now lies in
                    bed, her health deteriorating rapidly. The doctors diagnosed a malignant tumor in her frontal lobe.
                    Conventional treatments are proving too slow, and her vision is fading. Every moment, I watch
                    helplessly as she suffers more. I can't bear to see her like this. I must find a way to save her, no
                    matter the cost. There has to be something more I can do.
                </p>
            </section>
            <img src="static/enter.jpg" alt="You probably don't need this" />
        </article>
        <br>

        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 7: 11:30 AM</time></h2>
            </header>
            <section>
                <p>
                    Traditional medicine has failed us. Her condition worsens daily, and I'm running out of time. Today,
                    I began exploring alternative methods. I came across Electroconvulsive Therapy (ECT) as a potential
                    option. It sounds extreme, but I’m desperate. I administered controlled electric shocks to her
                    brain, hoping to reduce the tumor's size. The pain she endured was excruciating, and it broke my
                    heart to see her suffer, but I have to believe this is the right path. I stayed by her side, holding
                    her hand, whispering reassurances. I hope this works.
                </p>
            </section>
            <img src="static/olig.jpg" alt="another mri?" />
        </article>
        <br>

        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 14: 2:15 PM</time></h2>
            </header>
            <section>
                <p>
                    The ECT showed little improvement. I cannot stop now. Radiation therapy is my next course of action.
                    Today, I increased the dosage beyond what is medically advised, targeting the tumor with
                    high-intensity radiation. Each session leaves her weaker, but the tumor must shrink. The doctors
                    warned me of the risks, but what choice do I have? I see the fatigue in her eyes, and it kills me. I
                    keep telling her to stay strong, that we will get through this, but I wonder if I’m trying to
                    convince myself more than her.
                </p>
            </section>
            <img src="static/bc.avif" alt="bc mri?" />
        </article>
        <br>

        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 21: 10:00 PM</time></h2>
            </header>
            <section>
                <p>
                    The tumor resists all efforts. Nothing seems to work. Today, I turned to experimental chemicals,
                    injecting untested substances directly into her system. These chemicals, though dangerous, might be
                    our last hope. Her body reacted violently, convulsing and trembling. The guilt gnaws at me, but my
                    determination to save her remains unshaken. I keep telling myself that these are the steps we need
                    to take, that it’s worth it if it means saving her life. But seeing her in so much pain makes me
                    question everything.
                </p>
            </section>
            <img src="static/dmeq" alt="You probably need dmeq" />
        </article>
        <br>

        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 28: 5:45 AM</time></h2>
            </header>
            <section>
                <p>
                    Weeks have passed, and the toll of these treatments is evident. She has grown weaker, both physically and mentally. She talks less, often staring blankly at
                    the ceiling. Her once-bright eyes are now clouded with confusion and pain. I see the suffering I've
                    caused, but I can't stop. Every
                    moment is a reminder of my failure to protect her from the initial incident. I sit by her bed,
                    holding her hand, praying for a miracle. I don’t know how much more she can take, but I can’t lose
                    hope. Not yet.
                </p>
            </section>
        </article>
        <br>

        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 35: 3:30 PM</time></h2>
            </header>
            <section>
                <p>
                    Her mental state is deteriorating rapidly. She speaks of voices, dark and whispering, that haunt her
                    every waking moment. I fear my efforts to save her have driven her to the brink of madness. The
                    chemicals, the radiation, the electric shocks – they've all taken their toll. I feel the weight of
                    my decisions crushing my spirit, but I can't let her go. I’m terrified that my actions have caused
                    irreversible damage. The guilt is unbearable, but I have to keep going. There’s no turning back now.
                </p>
            </section>
            <img src="static/photon.webp" alt="photon like in..." />
        </article>
        <br>

        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 42: 9:00 PM</time></h2>
            </header>
            <section>
                <p>
                    It's been months since I started this journey. The tumor has receded
                    slightly, but at what cost? Her
                    mind is fractured, her body frail. I am left to ponder the ethical boundaries I crossed. The once
                    clear line between right and wrong is now blurred. I wanted to save her, but have I only prolonged
                    her suffering? I spend sleepless nights replaying every decision, every treatment. I wanted to be
                    her savior, but I fear I’ve become her <span class="animate-text"></span>. The weight of my actions is crushing me.
                </p>
            </section>
        </article>
        <br>

        <style>
            .animate-text::before {
                content: "tormentor";
                animation: doSomethingAwesome 10s infinite;
            }
        </style>

        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 49: 6:15 AM</time></h2>
            </header>
            <section>
                <p>
                    I look back on these months with a heavy heart. My relentless pursuit of a cure has caused
                    irreparable damage. The pain and trauma she endured under my care haunt me. This journal, filled
                    with my desperate attempts, stands as a testament to a father's love and the lengths he will go to
                    save his child. But it also serves as a warning. In my quest to save her, I lost sight of the
                    ethical lines that should never be crossed. I wonder if I’ll ever forgive myself for what I’ve done.
                </p>
            </section>
        </article>
        <br>

	<style>
		.arch:hover::after {
			content: "fsl ";
		}
	</style>

        <article>
            <header>
                <h2><time datetime="2024-07-09T20:00">Day 56: 8:45 PM</time></h2>
            </header>
            <section>
                <p>
                    As I write this final entry, I realize the gravity of my actions. This journey has not only been
                    about trying to save my child but also about understanding the consequences of desperation. I
                    document these experiences not for forgiveness, but to serve as a cautionary tale. Let my story be a
                    lesson to others about the dangers of unbridled desperation and the ethical dilemmas faced in the
                    pursuit of saving a loved one. I hope that in sharing this, I can prevent someone else from making
                    the same mistakes. My love for her blinded me, and now I must live with the consequences.
                </p>
            </section>
            <img src="static/2b.jpg" alt="some mri image" />
        </article>
        <br>

        <img src="static/cat.jpeg" alt="sus" hidden />
    </main>
    <footer>
        <section id="contact">
            <h2>Contact Us</h2>
            <p>For inquiries or more information about our research, please contact us at <a
													  href="tel:+91{{.Phone}}">+91 {{.Phone}}</a>.</p>
        </section>
	<p><span class="arch">&copy;</span> 1997 University of Nuremberg. All rights reserved.</p>
    </footer>
    <style>
        @keyframes doSomethingAwesome {

            0%,
            50% {
                content: "tormentor";
            }

            25%,
            75% {
                content: "hbspk";
            }
        }
    </style>
</body>

</html>
